<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Movie</title>
</head>
<div layout:fragment="content" class="content">
    <div class="film">
        <div class="desc-left">
            <div layout:replace="~{fragments/movie_info :: movie-info(${movie.info})}"></div>
            <div layout:replace="~{fragments/foreach_pattern :: list-pattern('Authors', ${movie.authors})}"></div>
            <div layout:replace="~{fragments/foreach_pattern :: list-pattern('Actors', ${movie.actors})}"></div>
            <div layout:replace="~{fragments/foreach_pattern :: list-pattern('Tags', ${movie.tags})}"></div>

            <h1></h1>
            <div layout:replace="~{fragments/btn_record_delete :: record-delete(${movie.info}, ${username})}"></div>
            <h1></h1>

            <div layout:replace="~{fragments/btn_report :: report(${movie.info})}"></div>
        </div>
        <div class="desc-right">
            <img th:src="@{/uploads/{path}(path = ${movie.imagePath})}">
            <div layout:replace="~{fragments/movie_postedby :: posted-by(${movie.info}, ${username})}"></div>
            <div layout:replace="~{fragments/movie_likes :: likes(${movie.info}, ${likes}, ${isLike1}, ${isLike2})}"></div>
        </div>
    </div>
</div>
</html>